.container {
	margin: 15px;
	box-sizing: border-box;
	text-align: center;
	justify-content: center;
	flex-direction: row;

}

.timer-container {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: row;
}

.current-timer {
	border: 2px solid rgb(5, 14, 39);
	border-radius: 60%;
	padding: 50px;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	background-color: rgb(255, 255, 255);
}

.controls {
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.timer-controls {
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-secondary {
	display: flex;
	height: 50px;
}

.clock {
	display: flex;
	font-family: 'Orbitron', sans-serif;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;


}